.navBar{
    border:solid gold;
    height:100px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    display:flex;
    justify-content:center;
    
}

li{
    float:left;
    margin:10px;
    padding:10px;

}

#oreoHome{
    height:50px;
    max-width:100px;
}

#custom{
    border-radius:10%;
    padding:0;
    height:80%;
    background-image:linear-gradient(pink)
}

.items li{
    border:none;
}

p{
    font-family:Pluto, sans-serif;
    font-weight:bold;
    font-size:larger;
}

#white{
    color:white;
    background-color:pink;
}

.header{
    height:130px;
}

.mainDisplay{
    display:flex;
    justify-content:center;

}

.container{
    border:solid darkgoldenrod;
    border-radius:10%;
    height:80vh;
    width: 150vh;
    background-image:url(https://images.ctfassets.net/kvfvpz4abpco/gk6eGI0n2GbRf1WnFSzSa/a1d6daf8f4c715443c653a26767870e3/Header_1075x540.jpg?w=1080&fm=avif)
}

.visuals{
    height:180px;
    margin-top:10px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.box{
    height:80%;
    width:10%;
    margin:5px;
    text-align:center;
}

h1{
    font-size:x-large;
}
